<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.parttime.cs353.dao.CompanyPasswordMapper">

    <insert id="addCompany" parameterType="com.parttime.cs353.pojo.dto.OtherLoginDO">
        insert into company (phone, password)
            values (#{phone},#{password});
    </insert>

    <select id="selectCompanyByPhone" parameterType="string" resultType="com.parttime.cs353.pojo.data.CompanyDO">
        select * from company where phone=#{phone};
    </select>

    <select id="selectCompanyByName" parameterType="map" resultType="com.parttime.cs353.pojo.data.CompanyDO">
        SELECT * FROM company
        WHERE
            `name` LIKE CONCAT('%', #{name}, '%')

    </select>
    <select id="selectCompanyById" parameterType="int" resultType="com.parttime.cs353.pojo.data.CompanyDO">
        SELECT * FROM company
        WHERE
            `cid` =#{cid}
    </select>

    <update id="updateCompany" parameterType="com.parttime.cs353.pojo.dto.CompanyDTO">
        UPDATE company
        <set>
            <if test="industry!= null">
                industry = #{industry},
            </if>
            <if test="scale!= null">
                scale = #{scale},
            </if>
            <if test="grade!= null">
                grade = #{grade},
            </if>
            <if test="name!= null">
                name = #{name},
            </if>
            <if test="status!= null">
                status = #{status}
            </if>
        </set>
        <where>
                cid = #{cid}
        </where>
    </update>
    <delete id="deleteCompany" parameterType="int">
        DELETE FROM company
        <where>
                cid = #{cid}
        </where>
    </delete>

</mapper>