<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.parttime.cs353.dao.JobMapper">

    <select id="selectJobByName" parameterType="string" resultType="com.parttime.cs353.pojo.data.JobDO">
        SELECT * FROM job
        WHERE
            `name` LIKE CONCAT('%', #{name}, '%')

    </select>

    <insert id="addJob" parameterType="com.parttime.cs353.pojo.business.JobAddBO">
        INSERT INTO job (`name`, tags, `time`, salary, salaryDetail, workingHours, requirements, `description`, recruitNum, deadline, cid, address)
        VALUES (#{name}, #{tags}, #{time}, #{salary}, #{salaryDetail}, #{workingHours}, #{requirements}, #{description}, #{recruitNum}, #{deadline},  #{cid}, #{address})
    </insert>

    <delete id="deleteJob" parameterType="int">
        DELETE FROM job WHERE jid = #{jid}
    </delete>

    <update id="updateJob" parameterType="com.parttime.cs353.pojo.data.JobDO">
     update job
        <set>
            <if test="name!= null">
                `name` = #{name},
            </if>
            <if test="tags!= null">
                `tags` = #{tags},
            </if>
            <if test="time!= null">
                `time` = #{time},
            </if>
            <if test="salary!= null">
                `salary` = #{salary},
            </if>
            <if test="salaryDetail!= null">
                `salaryDetail` = #{salaryDetail},
            </if>
            <if test="workingHours!= null">
                `workingHours` = #{workingHours},
            </if>
            <if test="requirements!= null">
                `requirements` = #{requirements},
            </if>
            <if test="description!= null">
                `description` = #{description},
            </if>
            <if test="recruitNum!= null">
                `recruitNum` = #{recruitNum},
            </if>
            <if test="deadline!= null">
                `deadline` = #{deadline},
            </if>
            <if test="address!= null">
                `address` = #{address}
            </if>
        </set>
        WHERE jid = #{jid}
    </update>


<!--    <select id="selectJobByTag" parameterType="string" resultType="com.parttime.cs353.pojo.data.JobDO">-->
<!--        SELECT * FROM job-->
<!--        WHERE-->
<!--            `tags` LIKE CONCAT('%', #{tags}, '%')-->
<!--            LIMIT 20-->
<!--    </select>-->

<!--    <select id="selectJobByWorkTime" parameterType="string" resultType="com.parttime.cs353.pojo.data.JobDO">-->
<!--        SELECT * FROM job-->
<!--        WHERE-->
<!--            `workingHours` LIKE CONCAT('%', #{workingHours}, '%')-->
<!--            LIMIT 20-->
<!--    </select>-->
    <select id="selectByCondition" parameterType="map" resultType="com.parttime.cs353.pojo.data.JobDO">
        SELECT * FROM job
        <where>
            <if test="name!= null">
                 `name` LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="tags!= null">
                AND `tags` LIKE '%;#{tags};%'
            </if>
            <if test="time!= null">
                AND `time` LIKE '%#{time}%'
            </if>
            <if test="salary!= null">
                AND `salary` LIKE #{salary}
            </if>
            <if test="salaryDetail!= null">
                AND `salaryDetail` LIKE '%#{salaryDetail}%'
            </if>
            <if test="workingHours!= null">
                AND `workingHours` LIKE #{workingHours}
            </if>
            <if test="requirements!= null">
                AND `requirements` LIKE '%#{requirements}%'
            </if>
            <if test="description!= null">
                AND `description` LIKE '%#{description}%'
            </if>
            <if test="recruitNum!= null">
                AND `recruitNum` = #{recruitNum}
            </if>
            <if test="deadline!= null">
                AND `deadline` LIKE '%#{deadline}%'
            </if>
            <if test="address!= null">
                AND `address` LIKE '%#{address}%'
            </if>
        </where>

    </select>

    <select id="selectJobById" parameterType="int" resultType="com.parttime.cs353.pojo.data.JobDO">
            SELECT * FROM job
            WHERE
                `jid` =#{jid}
    </select>
    <select id="selectJobByCid" parameterType="int" resultType="com.parttime.cs353.pojo.data.JobDO">
    SELECT * FROM job
    WHERE
        `cid` = #{cid};
    </select>

</mapper>